body {
  background-color: transparent !important;
}

a:hover {
  text-decoration: none !important;
}

h1, h2, h3 {
    margin-bottom: 20px;
}
h1 {
    font-size: 2.0rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.2rem;
}

.nav-link {
    color: #fff !important;
}
.nav-link.active {
    color: #ff6600 !important;
}
